[% WRAPPER "wrapper-staff-tool-plugin.inc" method="config" plugin_title="Library IQ configuration" %]
<body>
    <div id="doc3">
        <form method="get">
            <input type="hidden" name="class" value="[% CLASS | html %]"/>
            <input type="hidden" name="method" value="[% METHOD | html %]"/>

            <h1>Library IQ configuration</h1>

            <input type="hidden" name="save" value="1" />
            <input type="hidden" name="save" value="1" />

            <fieldset class="rows">
                <legend>Title Template</legend>
                <ol>
                    <li>
                        <label for="title_template">Title Template: </label>
                        <input type="text" name="title_template" id="title_template" value="[% title_template | html %]" size="50" />
                        <div class="hint">
                            Replace the default title as formatted by Koha with a set of MARC fields, separated by commas.
                            <br/>
                            Example: <em>245$a,245$b,245$p,245$n</em>
                        </div>
                    </li>
                </ol>
            </fieldset>

            <fieldset class="action">
                <input type="submit" value="Save configuration" />
                <a class="cancel" href="/cgi-bin/koha/plugins/plugins-home.pl">Cancel</a>
            </fieldset>
        </form>
[% END %]
